const ROBOT_URL =
  'https://oapi.dingtalk.com/robot/send?access_token=access_token';

// Twitter account
const TWITTER_ACCOUNT = 'your account';

// Your Twitter list
const TWITTER_LISTS = ['foo', 'bar'];

// filter rule: time
const LAST_TIME = 24 * 60 * 60 * 1000;

// filter rule: time
const RETWITTER_COUNT = 30;

module.exports = {
  ROBOT_URL,
  TWITTER_ACCOUNT,
  TWITTER_LISTS,
  LAST_TIME,
  RETWITTER_COUNT,
};
